
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	display:flex;
	flex-direction:column;

	align-items:center;
	padding: 15vh 0;;

}
td {
	width:24pt;
	height:24pt;
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	border-width: 1pt 0pt 0pt 1pt;
	font-size:150%;
}

table {
	text-align:center;
	border-spacing:0pt;
	font-family:'Arial Unicode MS';
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	border-width: 1pt 1pt 1pt 1pt;
}
.btn{
	border-radius:5px;
	background-color:gray;
	margin:15px 0;
	padding:5px;
	border: 1px solid rgb(58, 58, 58);
	color:white;
}

a{
	color:inherit;
	text-decoration:none;
}
